.pagination{
    text-align:center;
}
.pagination-item{
 display:inline-block;
 padding:10px;
 border-radius:3px;
 margin-bottom:20px;
 font-weight: bold;
}
.pagination-item:hover{
    color:white;
    background-color: #9900FF;
}